.title{
    font-size: 65px;
    text-align: center;
    color: khaki;
    
}


.alpha-white
{
    background-color: rgba(255, 255, 255, 0.452);.
}

.image-box { 
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.image-box img{
    width: 300px;
    justify-content: space-between;
    margin: 25px;
}

.colorenome {
    color: honeydew;
    
}





